appdirs==1.4.4
autopep8==1.5.4
certifi==2020.6.20
chardet==3.0.4
google-speech==1.1.0
idna==2.10
pycodestyle==2.6.0
requests==2.24.0
toml==0.10.1
urllib3==1.26.5
web-cache==1.1.0
PyPDF2==1.26.0
speechrecognition==3.8.1
PyAudio==0.2.11